body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
}
h1,h2{
    color:	#BA55D3;
}
footer{
    font-size: 0.9rem;
    background-color: #800080;
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.carousel-item img {
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
}
.card-img-top {
  height: 180px;
  object-fit: contain;
}
.jsButon{
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
}
.jsButon:hover{
    background-color: #5e005e;
    color: white;
}
.vueButon{
    background-color: #800080;
    color: white;
    padding: 10px 20px;

}
.vueButon:hover{
    background-color: #5e005e;
    color: white;
}
.girisButon{
  background-color: #800080;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.girisButon:hover{
    background-color: #5e005e;
    color: white;
}

.password-wrapper{
    position: relative;
}

.toggle-password{
    position: absolute;
    right: 680px;
    top:44%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}